
$colorBlack: #060607;
$colorYellow: #FFE81F;
$colorBlue: #54648B;
$colorDarkYellow: #F4C44C;
$colorGrey: #E1E1CD;
$colorText: #565360;
$colorLabel: #908E9B;
$colorDisabled: #E1DFE9;

@import "_body.scss";
@import "_search.scss";
@import "_card.scss";

