body {
  background-color: #000;
}

.grid-container {
  font-family: Helvetica;
  font-weight: bold;
  color: #FFE81F;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 1em;
}

.navlink {
  text-align: center;
}
.navlink > a {
  color: #FFE81F;
}
.navlink > a:hover {
  color: #ffe91f80;
}

.loadbar {
  text-align: center;
}

.card {
  background-color: transparent;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border: 1px solid #FFE81F;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  position: absolute;
}

.card-back {
  background-color: #FFE81F;
  color: #000;
  transform: rotateY(180deg);
}